<h1><%= @user.email %>'s items</h1>

<h2>ToDo</h2>
<%current_user.items.each do |item| %>
  <%if item.done == 0 %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<h2>Done</h2>
<%current_user.items.each do |item| %>
  <%if item.done == 1 %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<p><a href="follow">Follow</a></p>
