<a href="/"><img id="logo" src=<%= image_path('logo.png') %>/></a>

<h1><%= @user.email %>'s items</h1>

<h2>ToDo</h2>
<% current_user.items.each do |item| %>
  <% if item.done == 0 %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<h2>Done</h2>
<% current_user.items.each do |item| %>
  <% if item.done == 1 %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<p><%= link_to "Follow", follow_user_index_path(:id => current_user.id), method: :put %></p>
