<a href="/"><img id="logo" src=<%= image_path('logo.png') %>/></a>

<h1><%= @user.email %>'s items</h1>

<h2>ToDo</h2>
<% @user.items.each do |item| %>
  <% if item.done == 0 %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<h2>Done</h2>
<% @user.items.each do |item| %>
  <% if item.done == 1 %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<p>Following: <%= @user.followed_users.count %></p>
<p>Followed by: <%= @user.followers.count %></p>

<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
