<a href="/"><img id="logo" src=<%= image_path('logo.png') %>/></a>

<%if @todo_items.count != 0 or @done_items.count != 0%>
  <h1><%= @user.email %>'s items</h1>
<% end %>

<%if @todo_items.count != 0%>
  <h2>ToDo</h2>
  <% @todo_items.each do |item| %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<%if @done_items.count != 0%>
  <h2>Done</h2>
  <% @done_items.each do |item| %>
    <p>
      <%= item.content %>, added on
      <%= item.show_date %>.
    </p>
  <% end %>
<% end %>

<p>Following: <%= @user.followed_users.count %></p>
<p>Followed by: <%= @user.followers.count %></p>

<% unless current_user?(@user) %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  </div>
<% end %>
